@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 150px;">
    <h1 class="display-4 fw-bold text-primary">Hello in</h1>

    <h5 class="display-4 fw-bold text-primary"> AdaPET:</h5>
    <br /><br />
    <br />

    <div class="d-grid gap-3 col-6 mx-auto mt-4">
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-lg px-5">
            Log In
        </a>

        <a asp-controller="Account" asp-action="Register" class="btn btn-outline-success btn-lg px-5">
            Sign Up
        </a>
    </div>
</div>